.footer{
    padding: 3rem 0;
    background: #eeeaff;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.loguete {
    padding-left: 1rem;
}

.footer__box{
    width: 30%;
}

.footer__box p{
    color: var(--heading-color);
    line-height: 1.2rem;
    margin-top: .8rem;
}

.footer__title{
    font-size: 1.2rem;
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.footer__links li{
    line-height: 1.7rem;
}

.footer__links li a{
    color: var(--heading-color);
    cursor: pointer;
}

.footer__links li a:hover{
    color: var(--primary-color);
}

.copyright{
    margin-top: 3rem;
    text-align: center;
    color: #777;
    font-size: .9rem;
}